@font-face {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Share Tech Mono"), local("ShareTechMono-Regular"), url(/fonts/ShareTechMono.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* devanagari */
@font-face {
  font-family: "Pragati Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("Pragati Narrow"), local("PragatiNarrow-Regular"), url(https://fonts.gstatic.com/s/pragatinarrow/v2/HzG2TfC862qPNsZsV_djPlibR2f8S0J2B_EaDttRRhw.woff2) format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }

/* latin-ext */
@font-face {
  font-family: "Pragati Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("Pragati Narrow"), local("PragatiNarrow-Regular"), url(https://fonts.gstatic.com/s/pragatinarrow/v2/HzG2TfC862qPNsZsV_djPqwvjhBeOB25B0pWmvErI1g.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: "Pragati Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("Pragati Narrow"), local("PragatiNarrow-Regular"), url(https://fonts.gstatic.com/s/pragatinarrow/v2/HzG2TfC862qPNsZsV_djPiXGGgjhbil4nYG1ct5o924.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* devanagari */
@font-face {
  font-family: "Pragati Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("Pragati Narrow Bold"), local("PragatiNarrow-Bold"), url(https://fonts.gstatic.com/s/pragatinarrow/v2/DnSI1zRkc0CY-hI5SC3q3GpdTXvoLdCMaLlr8oppQQo.woff2) format("woff2");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }

/* latin-ext */
@font-face {
  font-family: "Pragati Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("Pragati Narrow Bold"), local("PragatiNarrow-Bold"), url(https://fonts.gstatic.com/s/pragatinarrow/v2/DnSI1zRkc0CY-hI5SC3q3Nglsoc-tKu3skzGCjmMb84.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: "Pragati Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("Pragati Narrow Bold"), local("PragatiNarrow-Bold"), url(https://fonts.gstatic.com/s/pragatinarrow/v2/DnSI1zRkc0CY-hI5SC3q3EBqNlhjGh6uyjdvfMwxzYs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  background: black;
  color: #383838;
  font-size: 20px;
  font-family: "Pragati Narrow";
  margin: 0;
  padding: 0;
  overflow: hidden; }

body::-webkit-scrollbar {
  width: 0 !important; }

:focus {
  outline: none; }

#app {
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: relative;
  width: 800px;
  height: 480px;
  display: grid;
  grid-template-columns: 133.333333333px 133.333333333px 133.333333333px 133.333333333px 133.333333333px 133.333333333px;
  grid-template-rows: 80px 80px 80px 80px 80px 80px; }

button {
  border: none;
  background: rgba(255, 255, 255, 0.11);
  font-size: 20px;
  font-family: "Pragati Narrow"; }
  button:active {
    background: rgba(97, 97, 97, 0.5); }

#toolbar {
  background: #2d2d2d;
  color: white;
  height: 55px; }

.block-lights {
  grid-column: 1 / 5;
  grid-row: 1/ 3;
  background: #1a1a1a; }

#pages {
  overflow: hidden;
  position: relative;
  height: 425px;
  width: 800px;
  background: url(/images/background2.png); }
  #pages .page {
    background: rgba(255, 255, 255, 0.37);
    width: 800px;
    height: 425px;
    position: absolute;
    left: 0;
    top: 0; }

/*# sourceMappingURL=app.css.map */
