
$pipBackgroundColor: white;
$pipForegroundColor: black;

$pipBorderWidth: 3px;
$pipBorderColor: white;

$pipScreenWidth: 800px;
$pipScreenHeight: 480px;

$pipToolbar: 55px;
$pipToolbarBackgroundColor: #3d93ea;
$pipToolbarForegroundColor: white;

$pipFont: "Share Tech Mono";
$pipFontNormal: "Pragati Narrow";
$pipFontsize: 20px;

