@import "variables";

.light-tools{
	position: absolute;
	top: 0;
	left: 138px;
	width: 220px;
	height: 137px;
	background: #232323;

	button{
		width: 100%;
		color: white;

		height: (137px / 2);

		&:last-child{
			margin-bottom: 0;
		}
	}
}