@import "variables";

.light-tools{
	position: absolute;
	top: $pipToolbar;
	left: 138px;
	width: 220px;
	height: 137px;
	padding: 15px;
	background: #c2c0da;

	button{
		width: 100%;
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}