@import "variables";
@import "fonts";

.block-meter{
	position: absolute;
	right: 0;
	top: 136px;
	bottom: 0;
	width: 442px;
}

.meter-current{
	color: white;
	text-align: center;
	font-family: $pipFontNormal;


	.current{
		font-size: 50px;
	}

	.unit{
		font-size: 18px;
		color: #c4c4c4;
	}
}