@import "variables";

$networkDeviceBlockWidth: 172px;

.networkdevices-block{
	position: absolute;
	right: 0;
	top: $pipToolbar;
	height: 190px;
	width: $networkDeviceBlockWidth;
	padding: 15px;
	background: #FDE8AC;

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			//width: $networkDeviceBlockWidth / 2;
			width: 100%;
			//float: left;

			div{
				display: inline-block;
				width: 20px;
				height: 20px;
				float: left;
				border-radius: 50%;
				margin-right: 13px;
				margin-top: 6px;
				border: 1px solid rgba(86, 86, 86, 0.35);

				&.on{
					background: #9eec59;
				}

				&.off{
					background: #F798A6;
				}
			}
		}
	}
}