@import "variables";

$networkDeviceBlockWidth: 442px;

.networkdevices-block{
	position: absolute;
	right: 0;
	top: 0;
	height: 136px;
	width: $networkDeviceBlockWidth;
	padding: 18px 25px;
	background: #5d5c5c;

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			color: #b0afaf;
			width: abs(30 - ($networkDeviceBlockWidth / 2));
			float: left;

			div{
				display: inline-block;
				width: 20px;
				height: 20px;
				float: left;
				border-radius: 50%;
				margin-right: 13px;
				margin-top: 6px;
				border: 1px solid rgba(86, 86, 86, 0.35);

				&.on{
					background: #9eec59;
				}

				&.off{
					background: #F798A6;
				}
			}
		}
	}
}