@import "variables";


.block-weather{
	position: absolute;
	background-color: #5d5c5c;
	width: 220px;
	height: 300px;
	top: 136px;
	color: white;
	left: 138px;
	padding: 15px;

	.current-weather{
		overflow: auto;

		.icon{
			margin: -10px 10px 0 0;
			font-size: 40px;
			float: right;
		}

		.temperature{
			font-size: 40px;
			float: left;
			margin-top: -12px;

			.wi{
				margin-left: -4px;
			}
		}
	}


	.times{
		margin-top: -5px;
		overflow: auto;

		.sun{
			width: 50%;
			float: left;
			display: inline-block;

			i{
				margin-right: 5px;
			}
		}
	}

	p{
		margin: 10px 0 0 0;
		line-height: 16px;
		font-size: smaller;
		height: 115px;
		overflow: hidden;
	}
}